<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-list</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root">
        <div class="add-todo">
            <input @keyup.enter="addTodo" v-model= "newTodo.text" type="text" name="text" id="text-to" placeholder="Nuovo Todo">
    
            <button class="btn-add" @click="addTodo" >Add Todo</button>
        </div>

        <ul class="ul-list">
            <li @click="todoDone" class="list" v-for="(element, index) in todosList">
                <div>{{ element.text }}</div>
                <button @click="deleteTodo(index)" class="btn-delete">X</button>
            </li>
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>